.login {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h1 {
      color: gray;
      margin-bottom: 20px;
    }

    label {
      color: gray;
      font-size: 18px;
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid rgb(216, 214, 214);
    }

    button {
      border: none;
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #10054d;
      cursor: pointer;
    }
    button:hover {
      background-color: #2196f3;
    }

    span {
      color: red;
      font-size: 12px;
    }
  }
}

.alertCss {
  display: flex;
  align-items: center;
  justify-content: center; /* Ensures the content is spaced between the text and close button */
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
  font-family: Arial, sans-serif;
  color: #fff;
  position: relative;

  &.success {
    background-color: #52c41a;
  }

  &.warning {
    background-color: #faad14;
  }

  .custom-notification-content {
    flex: 1;
  }

  .custom-notification-message {
    font-size: 16px;
    font-weight: bold;
  }

  .custom-notification-description {
    font-size: 14px;
  }

  .custom-notification-close {
    font-size: 20px;
    cursor: pointer;
    margin-left: 16px;
  }
}
